<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
    <span aria-hidden="true">
      <i class="fas fa-times"></i>
    </span>
  </button>
<div class="modal-body text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">{{ content.title }}</h2>
                <br/>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="{{ content.image }}" alt="{{ content.title }}">
                <!-- Portfolio Modal - Text -->
                <p class="mb-5" >{{ content.description }}</p>
                <button class="btn btn-primary" (click)="close()">
                    <i class="fas fa-times fa-fw"></i>
                    Close Window
                </button>
            </div>
        </div>
    </div>
</div>