<!-- Masthead -->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">

        <!-- Masthead Avatar Image -->
        <img class="masthead-avatar mb-5" src="https://raw.githubusercontent.com/plantillas-anartz/freelancer-angular/master/src/assets/img/portfolio/avataaars.svg" alt="">

        <app-title [title]="'Anartz Mugika'" [dark]="false" [main]="true"></app-title>

        <!-- Masthead Subheading -->
        <p class="masthead-subheading font-weight-light mb-0">Graphic Artist - Web Designer - Illustrator</p>

    </div>
</header>